body {
    background: #333;
    color: #00e6e6;
    font-size: 16px;
}
footer {
    box-sizing: border-box;
    padding-right: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2em 2em;
    width: 100%;
}
ul {
    list-style-type: none;
}
ul li {
    display: inline-block;
}
.serif {
        font-family: 'Roboto', sans-serif;

        border-bottom: 2px solid transparent;
        transition: none;
}
.container {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    margin-top: 0px;
}
.left {
    text-align: left;
}
.links li a:hover, #links li a:focus {
    border-bottom: 1px solid #00e6e6;
}
.links li a {
    color: #00e6e6;
    text-decoration: none;
}
 .links li::after {
        content: '/';
        margin: 0 .5em;
        color: grey;
}
.links li:last-child::after {
    display: none;
}
.links {
    text-align: center;
    font-weight: 500;
}
.nav {
    font-size: 17px;
    font-weight: 200;
    width:100%;
    padding: 0px;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background: black;

}
.nav a:hover, #links li a:focus {
    border-bottom: 1.5px solid #fff;
}
.nav a {
    color: #fff;
    text-decoration: none;
}
table {
    margin-left: auto;
    margin-right: 0px;
    margin-top: 0px;
    table-layout: fixed;
    border-style: none;
    text-align: center;
}
#links table, th, td {
    width: 8vw;
    height: 5vh;
    text-align: center;
    border-style: none;
}
