body {
  background: url(img/bg.JPG);
  color: #fff;
  font-size: 16px;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-color: #000;
  min-height: 100vh;
  margin: 0px;
}
footer {
  box-sizing: border-box;
  padding-right: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1em;
  width: 100%;
}
.listItem{
  padding: 0px 2vw 0px 2vw;
  display: inline-block;
  list-style-type: none;
  color: #fff;
  text-decoration: none;
}
.serif {
  font-family: 'Roboto', sans-serif;
  border-bottom: 2px solid transparent;
  transition: none;
}
.container {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  margin-top: 0px;
}
.logo {
  text-align: left;
}
.nav {
  font-size: 17px;
  font-weight: 200;
  width:100%;
  padding: 0px;
  background: black;
  height: 5vh;
  display: flex;
  justify-content: space-between;
}
.listItem:hover {
  border-bottom: 1.5px solid #fff;
}
a {
  color: #fff;
  text-decoration: none;
}
